### Database
DATABASE_FILE=./db.sqlite

### API Token
API_TOKEN=YOUR_ACCESS_KEY

### Device Parameters
DEVICE_ID=Device 01
DEVICE_LOCATION=My Backyard
DEVICE_LATITUDE=42.331389
DEVICE_LONGITUDE=-83.045833
DEVICE_ALTITUDE=185.0
DEVICE_TIMEZONE=America/Detroit

### App Configuration
SITE_OBSERVATIONS_MAX=20