.align-items-center.border-bottom.border-5.border-info.pb-1.mb-3.pt-2.navbar-dark.bg-dark
  .container
    .row
      .col-sm.ps-sm-0.ps-lg-5
        h2.text-light Weather Station 
          small.text-muted(style="font-size: 0.5em;") Lansing, MI

