.card.rounded-0
    .card-body
        if selectedDate == 'now'
            a.float-end.me-2(href="/download/latest") #[i.bi.bi-download.text-muted]
        else
            a.float-end.me-2(href="/download/"+selectedDate) #[i.bi.bi-download.text-muted]
        h5.card-title.text-info Summary
        h6.card-subtitle.mb-2.text-muted(style="font-weight:lighter;") Data summarized for 
            if view == 'now'
                | today.
            else
                | the period of a #{view}.
        .row.row-cols-1.row-cols-xl-2
            if summary.length > 0
                .col
                    table.table.table-sm.small.ws-obs-tbl
                        thead.thead-light.text-center
                            tr
                                th.text-start Parameter
                                th Average
                                th Low #[small →] High
                        tbody.text-center.text-nowrap
                            each itm, key in summary
                                if key < (summary.length/2)
                                    +tableAVGrow(itm.title,itm.unit,itm.avg,itm.min,itm.max)

                .col
                    table.table.table-sm.small.ws-obs-tbl
                        thead.thead-light.text-center
                            tr
                                th.text-start Parameter
                                th Average
                                th Low #[small →] High
                        tbody.text-center.text-nowrap
                            each itm, key in summary
                                if key >= (summary.length/2)
                                    +tableAVGrow(itm.title,itm.unit,itm.avg,itm.min,itm.max)
            else
                .col
                    .alert No data recorded
        span.smaller.text-muted.fw-lighter
            | #[i.bi.bi-info-square] Weather data can be downloaded as a comma separated file (csv)

    